In [262]:
# Python Data Types 

# Data Types in Python
# Data types are classifications that specify the type of value a variable holds.
# This helps Python to know how to handle the data appropriately.

# List of Data Types:
# 1. Integer: Whole numbers, positive or negative, without decimals.
print(type(4))  # Output: <class 'int'>

# 2. Float: Numbers, positive or negative, containing one or more decimals.
print(type(3.14))  # Output: <class 'float'>

# 3. Complex Number: Numbers with a real and imaginary part, written with a "j" as the imaginary part.
print(type(1 + 3j))  # Output: <class 'complex'>

# 4. String: Sequences of characters, enclosed in single or double quotes.
print(type('Pink'))  # Output: <class 'str'>

# 5. List: Ordered collections of items, which can be of different types, enclosed in square brackets.
print(type([1, 2, 3, 4]))  # Output: <class 'list'>

# 6. Dictionary: Collections of key-value pairs, enclosed in curly brackets.
print(type({'color':'Pink'}))  # Output: <class 'dict'>

# 7. Set: Unordered collections of unique items, enclosed in curly brackets.
print(type({'white', 'pink', 'blue'}))  # Output: <class 'set'>

# 8. Tuple: Ordered collections of items, which can be of different types, enclosed in parentheses.
print(type(('white', 'pink', 'blue')))  # Output: <class 'tuple'>

# 9. Boolean: Represents one of two values: True or False.
print(type(True))  # Output: <class 'bool'>

# 10. NoneType: Represents the absence of a value or a null value.
print(type(None))  # Output: <class 'NoneType'>

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'set'>
<class 'tuple'>
<class 'bool'>
<class 'NoneType'>

In [264]:
# Numbers 

# Integer
# Float
# Complex Example

In [266]:
# Integer 
#  Int (Posivitive, Negative and Zero) -1, 0, 1, 2 # Int

type(2+2)

int

In [268]:
print(type(4))

<class 'int'>

In [270]:
integer_example = 4
print(f'{integer_example} is of type {type(integer_example)}')

4 is of type <class 'int'>

In [272]:
# Float 
# float (Decimal number) -1.0, 1.1 # Float

type(1+2.2)

float

In [274]:
print(type(3.14))

<class 'float'>

In [276]:
# Complex 
# Complex  1 + j, 1 + 4j 

type(2+ 2j)

complex

In [278]:
print(type(1 + 3j))

<class 'complex'>

In [280]:
# Working with Different Data Types in Data Analysis

# Integer: Used to count the number of records or entries in a dataset.
# Often need to count the number of entries in your dataset, such as the number of customers.
num_records = 1500
print(f'Number of records: {num_records} (Type: {type(num_records)})')  # Output: Number of records: 1500 (Type: <class 'int'>)

# Float: Used for values that include decimals, such as averages or ratios.
# Calculating averages or other statistical measures often involves decimal values, like the average age of customers.
average_age = 29.5
print(f'Average age: {average_age} (Type: {type(average_age)})')  # Output: Average age: 29.5 (Type: <class 'float'>)

# Complex Number: Used for advanced mathematical calculations (less common in everyday analysis).
# While less common, complex numbers are used in specific scientific calculations.
complex_result = 7 + 5j
print(f'Complex calculation result: {complex_result} (Type: {type(complex_result)})')  # Output: Complex calculation result: (7+5j) (Type: <class 'complex'>)

# String: Used for text data, such as names or labels.
# Text data, such as dataset names or column labels, are typically stored as strings.
dataset_name = 'Customer Transactions'
print(f'Dataset name: "{dataset_name}" (Type: {type(dataset_name)})')  # Output: Dataset name: "Customer Transactions" (Type: <class 'str'>)

# List: Stores an ordered collection of items, like column names or multiple values.
# Lists are useful for storing ordered collections, like the names of columns in a dataset.
column_names = ['CustomerID', 'Age', 'Income', 'PurchaseAmount']
print(f'Column names: {column_names} (Type: {type(column_names)})')  # Output: Column names: ['CustomerID', 'Age', 'Income', 'PurchaseAmount'] (Type: <class 'list'>)

# Dictionary: Stores key-value pairs, useful for metadata or structured information.
# Dictionaries are great for storing structured data or metadata, such as dataset attributes.
metadata = {'source': 'Company Database', 'created': '2023-06-01', 'num_columns': len(column_names)}
print(f'Metadata: {metadata} (Type: {type(metadata)})')  # Output: Metadata: {'source': 'Company Database', 'created': '2023-06-01', 'num_columns': 4} (Type: <class 'dict'>)

# Set: Stores unique items, useful for distinct values in a column.
# Sets help in identifying unique values in a column, like different product categories.
unique_categories = {'Electronics', 'Clothing', 'Home Goods'}
print(f'Unique categories: {unique_categories} (Type: {type(unique_categories)})')  # Output: Unique categories: {'Home Goods', 'Clothing', 'Electronics'} (Type: <class 'set'>)

# Tuple: Used for immutable collections of items, like a single row of data.
# Tuples are useful for storing fixed collections of items, such as a single record in your dataset.
single_record = (12345, 28, 55000, 200.50)
print(f'Single record: {single_record} (Type: {type(single_record)})')  # Output: Single record: (12345, 28, 55000, 200.5) (Type: <class 'tuple'>)

# Boolean: Used for true/false conditions, like flags or status checks.
# Booleans are used for logical operations or status flags, such as checking if an analysis is complete.
analysis_complete = True
print(f'Analysis complete: {analysis_complete} (Type: {type(analysis_complete)})')  # Output: Analysis complete: True (Type: <class 'bool'>)

# NoneType: Represents missing or undefined values, common in data cleaning.
# NoneType is used to represent missing or null values, which is common when handling incomplete data.
missing_value = None
print(f'Missing value: {missing_value} (Type: {type(missing_value)})')  # Output: Missing value: None (Type: <class 'NoneType'>)

Number of records: 1500 (Type: <class 'int'>)
Average age: 29.5 (Type: <class 'float'>)
Complex calculation result: (7+5j) (Type: <class 'complex'>)
Dataset name: "Customer Transactions" (Type: <class 'str'>)
Column names: ['CustomerID', 'Age', 'Income', 'PurchaseAmount'] (Type: <class 'list'>)
Metadata: {'source': 'Company Database', 'created': '2023-06-01', 'num_columns': 4} (Type: <class 'dict'>)
Unique categories: {'Clothing', 'Home Goods', 'Electronics'} (Type: <class 'set'>)
Single record: (12345, 28, 55000, 200.5) (Type: <class 'tuple'>)
Analysis complete: True (Type: <class 'bool'>)
Missing value: None (Type: <class 'NoneType'>)